# Force C language detection
examples/**.c linguist-language=C
examples/**.h linguist-language=C
examples/** linguist-vendored=false

# Ignore other languages
tools/** linguist-vendored
*.mk linguist-vendored
